---
title: STUDIOPILATESLEMANS - CONTACT
description: contactez nous pour plus d'informations sur nos cours de pilates
---

<div class="row-wrapper-contact">

<div class="outer-container-contact">
  <%= image_tag('daphne-bezault.jpg') %>
<br />
  <div class="profil">
  <cite>Daphné Bezault</cite>
  <br />
  <br />

  <p>Diplômée du brevet d'Etat d'Educateur sportif depuis 2004, je suis spécialisée dans la "Méthode Pilates" et formée sur différents modules:</p>
  <ul>
    <li><p>Pilates Fondamental</p></li>
    <li><p>Pilates Intermédiaire</p></li>
    <li><p>Pilates Advanced</p></li>
    <li><p>Pilates Thérapie</p></li>
    <li><p>Pilates Femmes enceintes et séniors</p></li>
    <li><p>Pilates Barrel</p></li>
    <li><p>Pilates Reformer niveau 1 et 2</p></li>
    <li><p>Pilates Cadillac</p><li>
    <li><p>Pilates one-to-one</p></li>

  </div>
</div>
<br />
  <div class="outer-container-contact">
    <form action="//formspree.io/studiopilateslemans@gmail.com"
          method="POST">
        <input type="email" placeholder="Votre email"name="_replyto">
        <textarea name="message" rows="10"  placeholder="Une question ? écrivez-moi un message"></textarea>
        <input type="hidden" name="_subject" value="Nouveau Contact STUDIOPILATESLEMANS !" />
        <input type="hidden" name="_next" value="http://studiopilateslemans.s3-website-eu-west-1.amazonaws.com/merci.html" />
        <input type="text" name="_gotcha" style="display:none" />
        <button type="submit" value="Send">Envoyer</button>
    </form>
    <br />
</div>
</div>
