---
title: STUDIOPILATESLEMANS - COURS
description: Découvrez le planning des cours du studio pilates du mans
---

<div class="row-wrapper-cours">

<div class="outer-container-cours">

  <%= image_tag('planning.jpg') %>
</div>

</div>
