---
title: STUDIOPILATESLEMANS - CONTACT
description: contactez nous pour plus d'informations sur nos cours de pilates
---

<div class="row-wrapper-contact">

<div class="outer-container-contact">
  <%= image_tag('daphne-bezault.jpg') %>
<br />
  <div class="profil">
  <cite>Daphné Bezault</cite>
  <br />
  <br />



  </div>
</div>
<br />
  <div class="outer-container-contact">
    <p>Votre message a bien été envoyé !</p>
    <br />
</div>
</div>
