---
title: STUDIOPILATESLEMANS - LA METHODE PILATES
description: Découvrez l'origine de la méthode pilates par Joseph Pilates
---

<div class="row-wrapper">

  <div class="outer-container" style="margin-top:3.5em;">



<p class="intro">Le Pilates n'est pas une mode mais une méthode comprenant plus de 1000 exercices qui constitue un véritable système de conditionnement physique et mental destiné à renforcer le corps, accroître la souplesse, améliorer la coordination, réduire le stress, augmenter la capacité de concentration et à procurer un sentiment de bien être.</p>
<p>Cette méthode se pratique en coaching et en petit groupe, au sol ou avec matériels (ballons, cercles, foam-roller, arc barrel) mais également sur machine "Reformer".</p>
<br />
<h5>Joseph Pilates</h5>
<p style="text-align:center;font-weight:bold;"><cite>Ma méthode développe l'ensemble du corps, corrige les mauvaises postures, restaure la vitalité physique, revigore le mental et élève l'esprit.</cite></p>
<p class="intro">De nationalité allemande (1880-1967), Joseph Hubertus Pilates était un enfant fragile au vu de sa santé, souffrant de rachitisme, d'asthme et de rhumatisme articulaire. Pour retrouver la santé et pour améliorer sa forme physique, il va étudier l'anatomie et les différentes méthodes de développement de la forme physique et mentale.</p>
<p>En 1912, il déménage en Angleterre et il va devenir un sportif accompli, boxeur professionel, gymnaste, etc... Pendant la première guerre mondiale, il est fait prisonnier dans un camps sur l'Ile de Man. Il enseigne ses exercices à ses compagnons d'internement en utilisant notamment les ressorts d'un sommier fixés sur un lit et crée ainsi son premier appareil à des fins de réeducation (appareil que l'on appellera par la suite "Reformer").</p>
<p>Après une pandémie de grippe en 1918 qui décime des populations entières, il s'avère que les personnes ayant suivi la méthode de J.Pilates survivent ! En 1923, il émigre aux Etats-Unis. Durant le voyage, il rencontre sa future femme Clara avec qui il va ouvrir son premier studio à New York pour enseigner sa méthode qu'il appelle "Contrology", destinée à l'entrainement et la rééducation des sportifs et notamment les danseurs professionels. Joseph Pilates invente des exercices et conçoit des appareils dans le but de rectifier les mauvaises postures et de développer le coprs en harmonie.</p>
<p>Joseph Pilates écrit deux livres. "Your Health" en 1934, dans lequel il présente ses exercices et leur explications. En 1945, il rédige "Return to Life Trough Contrology", véritable traité de sa philosophie. Il y explique avec fougue que, si sa méthode était universellement pratiquée et enseignée par les institutions éducatives, en visant l'équilibre individuel, elle contribuerait au bien-être de la société dans son ensemble.</p>
<br />
<h5>Les principes du Pilates</h5>
<p><strong>La concentration : </strong> le principe du "Mind & Body" prend tout son sens dans la méthode Pilates. La concentration permet de prendre pleine et entière possession de son corps et de le maîtriser avec une precision incroyable. Par elle, le contrôle de l'esprit sur le corps peut se faire. C'est la base de la méthode.</p>
<p><strong>La respiration :</strong> Une respiration thoracique, visant l'amélioration de la capacité pulmonaire vous aidera à vous concentrer, vous relaxer et évacuer vos tensions.</p>
<p><strong>Le centrage :</strong> Les exercices partent du "centre" composé des musclues profonds des abdominaux ( plancher pelvien, transverse...). Savoir le maîtriser permet l'execution des mouvements dans la sécurité</p>
<p><strong>La fluidité :</strong> Chaque mouvement s'execute avec fluidité et harmonie, sans stress ni tension.</p>
<p><strong>L'isolation :</strong> C'est la capacité à garder immobile une partie du corps grâce aux muscles stabilisateurs tout en activant une autre partie grâce aux muscles dits "moteurs". Sur tous les exercices vous travaillerez ainsi avec une plus grande précision.</p>
<p><strong>La précision :</strong> Lors d'une séance de Pilates, un mouvement quelconque vu par une autre personne extérieure peut paraitre facile à réaliser, car loin d'imaginer les nombreux détails auxquels il faut faire attention pendant l'exercice.</p>
<p><strong>La fréquence :</strong> C'est la répétition des exercices qui permettra une meilleure maitrise du mouvement, une meilleure fluidité, donc une meilleure efficacité</p>
<p><strong>La maîtrise du mouvement :</strong> A l'origine Joseph Pilates avait créé une méthode appelée "Contrology", c'est plus tard que l'on a appelé cette méthode "Méthode Pilates". Son objectif premier était d'arriver au contrôle total du corps et du mouvement.</p>
</div>

</div>
